
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ioTmqeUDGBg" frameborder="0" allowfullscreen></iframe>
</div>

<div class="panel panel-default">
  <div class="panel-body text-center">
    "Time is the most valuable thing a man can spend." 
  </div>
</div>